* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
	height: 100%;
    overflow: hidden;
}

body{
    background-color: #FDFFFC;
}

#favicon{
    filter: invert(1);
}

header{
    float: left;
    width: 100%;
    height: 30vh;
}

.header-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    position: relative;
    padding-right: 20px;
}

nav {
    display: flex;
    align-items: flex-end;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    font-family: 'Nunito Sans';
    font-weight: 700;
    color: #011627 !important;
}

nav.dark-mode ul{
    color: #FDFFFC !important;
}

nav li{
    height: 50px;
    padding: 0 15px;
}

.last-menu-item{
    padding-right: 0;
}


.main-menu li:last-child{
    display: none;
}


nav li a{
    display: inline-block;
    height: 70%;
    text-decoration: none;
}

nav li a:hover{
    border-bottom: 2px solid #E71D36;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 220px 0 0 50px;
    z-index: 999;
    background-color: rgba(252, 252, 252, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar li{
    width: 100%;
}

.line-art {
    position: absolute;
    width: 150px;
    height: 60vh;
    border-left: 1px solid #011627;
    border-top: 1px solid #011627;
    left: 43vw;
    top: 26vh;
}

.baseline {
    position: relative;
    border: none;
    height: 0.3px;
    background-color: #011627;
    width: 13.9%;
    bottom: 6%;
    left: 92%;
}

/* Main part */

.body-container {
    float: left;
    height: 70vh;
    width: 100% !important;
}

.main-body {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.first-div {
    float: left;
    width: 40%;
    height: 100%;
}

.right-part {
    width: 60%;
    margin-left: 15%;
    background-image: url('img/img-walldesign-pc.webp');
    background-size: contain; /* Change to 'contain' to ensure full image is visible */
    background-repeat: no-repeat; /* Prevent tiling */
    background-position: center bottom;
    height: 100%; /* Ensure the div itself takes up 100% height */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}



.right-part ul {
    list-style-type: none;
    text-align: left;
    padding: 0;
    padding: 20px;
    border-radius: 10px;
}

.right-part ul li {
    margin: 5px 0;
    color: #FDFFFC;
    padding: 5px 0;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Inria Serif';
}

.right-part li span {
    display: block;
    font-style: italic;
}

strong {
    font-family: 'Nunito Sans';
    font-style: normal;
}


/* For mobile */
@media only screen and (max-width: 768px) {

    
    header.homepage{
        height: 23vh;
    }

    nav.homepage ul{
        padding: 3vh 10vw !important;
    }

    ul.sidebar.homepage {
        padding: 25vh 10vw 0 !important;
    }

    .hide-on-mobile{
        display: none;
    }

    nav ul {
        padding: 10vh 10vw;
    }

    .main-menu li{
        display: none;
    }

    .main-menu li:last-child{
        display: list-item;
    }

    .line-art, .baseline{
        display: none;
    }

    .header-container{
        padding-right: 0;
    }

    nav a {
        font-size: 13px;
    }

    nav.dark-mode ul{
        color: #011627 !important;
    }

    .main-body{
        width: 100%;
    }

    body, html {
        overflow: auto; /* Allow scrolling on mobile */
    }

    .container {
        flex-direction: column;
        height: auto; /* Allow content to dictate height */
    }

    .div1, .div2 {
        width: 100%;
    }

    .text-container {
        padding: 10px;
    }
}